
<h1>EditorPengumpulan</h1>
@model Proyek_Informatika.Models.laporan
@using Proyek_Informatika.Utilities

<script type = "text/javascript">
    var nameFile;
    $("#btn_edit").click(function () {
        alert("jenis : " + $('#jenis_file2').val());
        var values = {
            id_laporan: @(Model.id),
            jenis: $("#jenis_file2").val(),
            deskripsi: $("#deskripsi2").val(),
            name: nameFile
        };
        $.post("Pengumpulan/EditFile", values, function (data) {
            if (data == 0) {
                alert("gagal");
            }
            else if (data == 1) {
                alert("berhasil");
            }

        });
    });
    function onCom(e) {
        nameFile = e.files[0].name;
        console.log(e.files[0].name);

    }
    function onRemove(e) {
        var r = confirm("Apakah anda yakin?");
        if (r) {
            nameFile = "";
            var values = {
            id_laporan: @(Model.id),
            jenis: $("#jenis_file2").val(),
            deskripsi: $("#deskripsi2").val(),
            name: nameFile
        };
        $.post("Pengumpulan/EditFile", values, function (data) {
            if (data == 0) {
                alert("gagal");
            }
            else if (data == 1) {
                alert("berhasil");
            }

        });
            return true;
        } else {
            e.preventDefault();
            return false;
        }
    }

    $(document).ready(function () {

        
        var $fileList, $files, item, _fn, _i, _len;

        $fileList = $("#existing-files");

        if ($fileList.length > 0) {
            $("#filemahasiswa .t-upload").append($fileList);
            $files = $(".t-file");
            _fn = function (item) {
                var $item, fileId, filenames;
                $item = $(item);
                fileId = $item.data("att-id");
                filenames = [
                          {
                              name: fileId
                          }
                        ];
                return $item.data("fileNames", filenames);
            };
            for (_i = 0, _len = $files.length; _i < _len; _i++) {
                item = $files[_i];
                _fn(item);
            }
            $fileList.show();
        }

    });
</script>

<div class = "layer">
<label id="result"></label>
@Html.Label("Nama File :")
<br />
<input type = "text" id= "jenis_file2" value = "@(Model.jenis)"/>
<br/>
@Html.Label("Deskripsi :")
<br />
<textarea cols = "50" rows = "6" id= "deskripsi2">@(Model.deskripsi)</textarea>
<br />
<div class="t-widget t-upload" id = "filemahasiswa">
@Html.Label("File :")
@(Html.Telerik().Upload()
        .Name("attachments")
        .Multiple(false)
        .Async(async => async
            .Save("Save", "Upload", "attachments", new { dir = "File Mahasiswa\\" + Session["username"] + "\\dokumen" })
            .Remove("Remove", "Upload", new { dir = "File Mahasiswa\\" + Session["username"] + "\\dokumen" })
            .AutoUpload(true)
            )
        .ClientEvents(c => c
                    .OnSuccess("onCom")
                    .OnRemove("onRemove")
                    )
)
    <div class="controls" >
		@{
            if (!string.IsNullOrWhiteSpace(Model.nama_file))
            {
                <ul id="existing-files" class="t-upload-files t-reset" style="display: none;">
				<li class="t-file" data-att-id="@(Model.nama_file)">
				<span class="t-icon t-success">uploaded</span>
				<span class="t-filename" title="@(Model.nama_file)">@(Model.nama_file)
				<span class="t-progress"><span class="t-state-selected t-progress-status" style="width: 100%;"></span></span></span><button type="button" class="t-button t-button-icontext t-upload-action"><span class="t-icon t-delete"></span>Remove</button></li></ul>
            }
        }                   
	</div>
    </div>
<input type = "button" id = "btn_edit" value ="Edit" />

               

</div>