@model Proyek_Informatika.Models.ChangePasswordModel
@{
    ViewBag.Title = "Pengaturan";
}
<script type="text/javascript">
    $("#change-pass-dsn").click(function () {
        var values = {
            OldPassword: $("#OldPassword").val(),
            NewPassword: $("#NewPassword").val(),
            ConfirmPassword: $("#ConfirmPassword").val()
        };
        $.post("Account/ChangePassword", values, function (data) {
            alert(data);
        });
        $('#content').load('Profile/Pengaturan');
    })
</script>
<div class="layer">
    <h1>
        Pengaturan</h1>
    @using (Html.BeginForm())
    {   
        <fieldset>
            <legend>Informasi Account</legend>
            <div class="editor-label grid_15">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "grid_6" }) <span class="warning">
                    @Html.ValidationMessageFor(m => m.OldPassword)</span>
            </div>
            <br class="clear" />
            <div class="editor-label grid_15">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "grid_6" }) <span class="warning">
                    @Html.ValidationMessageFor(m => m.NewPassword)</span>
            </div>
            <br class="clear" />
            <div class="editor-label grid_15">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "grid_6" }) <span class="warning">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
            </div>
            <br class="clear" />
            <div class="button-block grid_15">
                <input type="button" id="change-pass-dsn" value="Ganti Password" class="t-button t-state-default" />
            </div>
        </fieldset>      
    }
</div>
