@{
    ViewBag.Title = "Penilaian Sidang";
    var koordinator = false;
    if (ViewBag.role == "penguji1")
    {
        koordinator = true;
    }

}
<script type="text/javascript">
    $(document).ready(function () {
        $.post("SidangDosen/GetSidangStatus", {skripsi_id:@ViewBag.skripsi_id}, function (data) {
            if(data == 1){
                $("#nilaiPanel").show();
                $("#openPanel").hide();
            }else if(data == 0){
                $("#nilaiPanel").hide();
                $("#openPanel").show();
            }
        });
    });

    $("#openButton").click(function(){
         $.post("SidangDosen/MulaiSidang", {skripsi_id:@ViewBag.skripsi_id}, function (data) {
            if(data=="True"){
               $('#content').load('SidangDosen/Sidang_Index?role=@ViewBag.role' + '&skripsi_id=@ViewBag.skripsi_id');
            }
        });
    });
</script>
<div class="layer">
    <h1>
        Penilaian Sidang</h1>
    <div class="grid_5 alpha">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Nama
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @ViewBag.nama &nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                NPM
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @ViewBag.npm &nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Topik
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @ViewBag.topik &nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Pembimbing
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @ViewBag.pembimbing &nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Penguji 1
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @ViewBag.penguji1 &nbsp;
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Penguji 2
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @ViewBag.penguji2 &nbsp;
        </div>
        <br class="clear" />
    </div>
    <div class="grid_10 omega">
        <div id="openPanel">
            <br/><br/><br/><br/><br/>
            <input type="button" id="openButton" value="Mulai Sidang" class="t-button t-state-default big-button" />
        </div>
        <div id="nilaiPanel" class="grid_15" style="display: none;">
            @( Html.Telerik().TabStrip()
            .Name("SidangTab")
            .Items(parent =>
            {
                parent.Add()
                    .Text("Sidang")
                    .LoadContentFrom("Sidang", "SidangDosen", new { role = ViewBag.role, skripsi_id = ViewBag.skripsi_id })
                    .Selected(true);

                parent.Add()
                    .Text("Koordinator Sidang")
                    .LoadContentFrom("Sidang_Koordinator", "SidangDosen", new { role = ViewBag.role, skripsi_id = ViewBag.skripsi_id })
                    .Visible(koordinator);

            })
        )
        </div>
    </div>
</div>
