@{
    List<Tuple<int, string, int, int>> bobotData = ViewData["bobot"] as List<Tuple<int, string, int, int>>;
    var count = bobotData.Count;
}
<script>
    var itt = 0;
    function change(order) {

        var a = parseFloat($("#nilai" + order).val());
        var b = parseFloat($("#bobot" + order).html());
        var kali = a * b / 100;
        $("#total" + order).html(kali);
        var total = 0.0;
        for (var i = 1; i <= @count; i++) {
            total += parseFloat($("#total" + i).html());
        }
        $("#total").html(total);
    }

    $("#submitButton").click(function(){
        var r = confirm("Apakah anda yakin? Data akan dikirimkan kepada koordinator sidang.");
        if(r){
            var success = save();
            if(success){
                $.post("SidangDosen/SubmitAll",{skripsi_id : '@ViewBag.skripsi_id'},function(data){
                    if(data == "True"){
                        $('#content').load('SidangDosen/Penilaian');
                    }else{
                        alert("Error dalam mengirim nilai.");
                    }
                });
                
            }
        }
    });
    $("#saveButton").click(function(){
        save();
    });

    function save(){
        var success = true;

        @{
            if (ViewBag.jenis_skripsi == 1)
            {
                <text>
                    var nilai = $("#skripsi1Input").val();
                    if(!isNaN(parseFloat(nilai))){

                        var values = {
                            nilai : parseFloat(nilai),
                            skripsi_id : '@ViewBag.skripsi_id'
                        };
                        $.post("SidangDosen/SimpanNilaiSkripsi1",values,function(data){
                           //alert(data);
                        });
                    }else{
                        success = false;
                    }
                </text>
            }
            else if (ViewBag.jenis_skripsi == 2)
            {
                <text>
                    for (var i = 1; i <= @count; i++) {
                        if(!isNaN(parseFloat($("#total" + i).html()))){
                            var role = '@ViewBag.role';
                            if(role != "pembimbing"){
                                role = "penguji"
                            }
                            var values = {
                                nilai : parseFloat($("#total" + i).html()),
                                skripsi_id : '@ViewBag.skripsi_id',
                                urutan : i,
                                tipe : role
                            };
                            $.post("SidangDosen/SimpanNilai",values,function(data){
                                itt++;
                                if(itt==@count){
                                    hitungTotal();
                                }
                            });
                        }else{
                            success = false;
                        }
                    }
                </text>
            }
        }
        if(success){
            return true;
        }else{
            alert("Tidak dapat menyimpan semua nilai karena tidak berupa angka.");
            return false;
        }
    };

    function hitungTotal(){
        $("#total").html("asdf");
        alert($("#total").html());
        var values = {
            nilai : parseFloat($("#total").html()),
            skripsi_id : '@ViewBag.skripsi_id',
            kategori : '@ViewBag.role'
        };
        $.post("SidangDosen/SimpanNilaiTotal",values,function(data){
            if(data == "True"){
                alert("Data berhasil diubah.");
            }else{
                alert("Data tidak berhasil diubah.");
            }
        });
    }

    $("#backButton").click(function(){
        var r = confirm("Apakah anda yakin? Semua data yang belum disimpan akan hilang.");
        if(r){
            $('#content').load('SidangDosen/Penilaian');
        }
    });

    $(document).ready(function(){
        for (var i = 1; i <= @count; i++) {
            change(i);
        }
        @{
            if (ViewBag.jenis_skripsi == 1 && ViewBag.role == "penguji1")
            {
                <text>
                    $("#tab1").html("<br/><div class='warning'>Dosen reviewer tidak dapat memberi nilai.</div>");
                </text>
            }
            if (ViewBag.jenis_skripsi == 1)
            {
                <text>
                    $("#skripsi1").show();

                    $.post("SidangDosen/GetNilaiSkripsi1",{skripsi_id : @ViewBag.skripsi_id},function(data){
                        $("#skripsi1Input").val(data);
                    });
                </text>
            }
            else if (ViewBag.jenis_skripsi == 2)
            {
                <text>
                    $("#skripsi2").show();
                </text>
            }
        }

        
    });
</script>
<div id="tab1">
    <table id="skripsi2" style="display: none;">
        <tr class="th">
            <td style="width: 40%">
                Komponen Penilaian
            </td>
            <td style="width: 20%">
                Nilai
            </td>
            <td style="width: 20%">
                Bobot
            </td>
            <td style="width: 20%">
                Total
            </td>
        </tr>
        @{
                    
            foreach (var item in bobotData)
            {
            <text>
            <tr>
                <td>@item.Item2
                </td>
                <td>
                    <input type="text" style="width:50px" id="nilai@(item.Item1)" onkeyup="change(@item.Item1)" value="@(item.Item4)">
                </td>
                <td id="bobot@(item.Item1)">@item.Item3
                </td>
                <td id="total@(item.Item1)">
                </td>
            </tr>
            </text>
            }
                    
        }
        <tr class="tf">
            <td>
                Total
            </td>
            <td>
            </td>
            <td>
            </td>
            <td id="total">
            </td>
        </tr>
    </table>
    <!---------------------------------------->
    <div id="skripsi1" style="display: none;">
        <div class="editor-label grid_4">
            <label>
                Nilai
            </label>
        </div>
        <div class="editor-label grid_1">
            <label>
                :
            </label>
        </div>
        <div class="editor-field grid_10">
            <input type="text" id="skripsi1Input" name="skripsi1Input" class="grid_2" />
        </div>
    </div>
    <!---------------------------------------->
    <br class="clear" />
    <div class="button-block grid_15">
        <input type="button" class="t-button t-state-default" id="submitButton" value="Kirim" />&nbsp
        <input type="button" class="t-button t-state-default" id="saveButton" value="Simpan" />&nbsp
        <input type="button" class="t-button t-state-default" id="backButton" value="Kembali" />
    </div>
    <br />
</div>
