@{
    List<Tuple<int, string, int, double>> bobotData2 = ViewData["bobot2"] as List<Tuple<int, string, int, double>>;
    var count = bobotData2.Count;
}
<script>
    $(document).ready(function () { 
        @{
            if (ViewBag.showhide)
            {
                <text>
                $("#showhide").show();
                $("#showhide2").hide();
                </text>
            }
            else
            {
                <text>
                $("#showhide").hide();
                $("#showhide2").show();
                </text>
            }
        }
        var total = 0;
        for (var i = 1; i <= @count; i++) {
            var a = parseFloat($("#nilaiAll" + i).html());
            var b = parseFloat($("#bobotAll" + i).html());
            var kali = a * b / 100;
            $("#totalAll" + i).html(kali);
            total += parseFloat($("#totalAll" + i).html());
        }
        $("#totalAkhir").html(total);
    });

    $("#finishButton").click(function(){
        var r = confirm("Apakah Anda Yakin? Penilaian ini tidak dapat diubah lagi.");
        if(r){
            //save nilai akhir
            //tutup sidang
            var jenis = '@ViewBag.jenis_skripsi_id';
            var nilai_akhir = 0.0;
            if(jenis == 1){
                nilai_akhir = parseFloat($("#totalSkripsi1").html());
            }else if(jenis == 2){
                nilai_akhir = parseFloat($("#totalAkhir").html());
            }
           
            var values = {
                skripsi_id : '@ViewBag.skripsi_id',
                nilai_akhir : nilai_akhir
            };
            $.post("SidangDosen/AkhiriSidang",values,function(data){
                if(data == "True"){
                    $('#content').load('SidangDosen/Penilaian');
                }
            });
            
            
            
        }
    });

    $("#refreshButton").click(function(){
        $.post("SidangDosen/Sidang_Koordinator",{role:'@ViewBag.role', skripsi_id : '@ViewBag.skripsi_id'},function(data){
            $( "#SidangTab .t-link" ).each(function(index) {
                if($(this).text() == "Koordinator Sidang"){
                    $("#SidangTab-"+(index+1)).html(data);
                }
            });
        });
        
    });
    
</script>

<input type="button" class="t-button t-state-default" id="refreshButton" value="Refresh" /><br/>
<fieldset id="showhide" style="display: none;">
    <legend>Ringkasan Penilaian Sidang</legend>
    @{
        if (ViewBag.jenis_skripsi_id == 1)
        {
            foreach (var item in bobotData2)
            {
        <text>
        <!---------------------------------------->
        <div class="editor-label grid_4">
            <label>
                Presentasi
            </label>
        </div>
        <div class="editor-label grid_1">
            <label>
                :
            </label>
        </div>
        <div class="editor-field grid_10">
            <span id="totalSkripsi1">@item.Item4</span>
        </div>
        <br class="clear" />
        </text>
            }
        }

        else if (ViewBag.jenis_skripsi_id == 2)
        {
        <text>
        <table class="blue grid_15">
            <tr class="th">
                <td style="width: 40%">
                    Penilaian
                </td>
                <td style="width: 20%">
                    Nilai
                </td>
                <td style="width: 20%">
                    Bobot
                </td>
                <td style="width: 20%">
                    Total
                </td>
            </tr>
            @{
                    
            foreach (var item in bobotData2)
            {
                <text>
                <tr>
                    <td>@item.Item2
                    </td>
                    <td id="nilaiAll@(item.Item1)">@item.Item4
                    </td>
                    <td id="bobotAll@(item.Item1)">@item.Item3
                    </td>
                    <td id="totalAll@(item.Item1)">
                    </td>
                </tr>
                </text>
            }
                    
            }
            <tr class="tf">
                <td>
                    Total
                </td>
                <td>
                </td>
                <td>
                </td>
                <td id="totalAkhir">
                </td>
            </tr>
        </table>
        </text>   
        }
        
    }
    <br>
    <input type="button" class="t-button t-state-default" id="finishButton" value="Akhiri Sidang" />
</fieldset>
<div id="showhide2" style="display: none;">
    <div class='warning'>
        Belum semua pemberi nilai mengirimkan nilainya.</div>
</div>
