@{
    List<Tuple<string,int,int, double>> nilais = ViewData["nilai"] as List<Tuple<string,int, int, double>>;

    }
    <script type = "text/javascript">
        $("#reopen").click(function(){posting(0);});
        $("#accept").click(function(){posting(2);});

        function posting(status) 
        {
            var values = {id : @(ViewBag.id), status : status};
            
            $.post("Nilai/ChangeStatus",values, function(data){
                if(data == 1)
                {
                    alert("Status berhasil diubah");
                }
                else
                {
                    alert("Status gagal diubah");
                }
            });                
        }
    </script>
<div class ="layer">
    <table>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>@ViewBag.nama</td>
        </tr>
        <tr>
            <td>NPM</td>
            <td>:</td>
            <td>@ViewBag.NPM</td>
        </tr>
        <tr>
            <td>Judul</td>
            <td>:</td>
            <td>@ViewBag.judul</td>
        </tr>
        <tr>
            <td>Pembimbing</td>
            <td>:</td>
            <td>@ViewBag.pembimbing</td>
        </tr>
    </table>

    <table class="blue" style="width: 50%;">
        <tr class="th">
            <td style="width: 40%;">
                Penilaian
            </td>
            <td style="width: 30%;">
                Bobot (%)
            </td>
            <td>
                Nilai
            </td>
            <td>
                Subtotal
            </td>
        </tr>
        @{
            foreach (var item in nilais)
            {
                <text>
                    <tr>
                        <td>
                            @item.Item1
                        </td>
                        <td>
                            <input type="hidden" name="kategori" value="@item.Item2"/>
                            <label >@item.Item3</label>
                        </td>
                        <td>
                            <label >@(String.Format("{0:0.0}",item.Item4))</label>
                        </td>
                        <td>
                            <label >@(String.Format("{0:0.0}",(item.Item4*item.Item3/100)))</label>
                        </td>
                    </tr>
                </text>
            }
            }
            <tr>
                <td  colspan = "3">Total</td>
                <td><label name= "total">@ViewBag.total</label></td>
            </tr>
            
    </table>
    <input type = "button" id="accept" value="Accept"/>
    <input type = "button" id= "reopen" value="Reopen" />
    </div>