<script type="text/javascript">
    function changeSemester(direction) {
        //confirm user's choice
        if(direction == "prev"){
            var con = confirm("Change to previous semester?");            
        }else if(direction == "next"){
            var con = confirm("Change to next semester?");
        }
        //update view
        if (con == true) {
            $.post("Semester/changeSemester", { prevnext: direction }, function (success) {
                if (success == 'True') {
                    $('#content').load('Semester/JadwalSemester');
                }
            });
        }
    }

    $("#button_add").click(function () {
        var values = {
            event_name: $("#schedule_name").val(),
            skripsi: $("#schedule_skripsi").val(),
            event_date: $("#schedule_date").val()
        };
        $.post("Semester/addSchedule", values, function (success) {
            if(success == 'True') $('#content').load("Semester/JadwalSemester");
        });        
    });

    function deleteJadwal(id_jadwal, isi) {
        var con = confirm("Delete '" + isi + "' from database?");
        if (con == true) 
        {
            $.post("Semester/removeSchedule", { jadwal_id: id_jadwal }, function (success) {
                if (success == 'True') $('#content').load("Semester/JadwalSemester");
            });
        }
    }
</script> 

<div class="layer">
    <div id="semester_name"><h1>Periode @ViewData["semester_name"]</h1></div>
    <input type="button" value="Previous Semester" onclick="changeSemester('prev')" />
    <input type="button" value="Next Semester" onclick="changeSemester('next')"/>
    
    <h3>Jadwal Skripsi 1</h3><!---------------------------------------------------------------------------------------------------------->
    
    <div id="table_semester_schedule1" class="table_semester">
        <table>
        <tr>
            <td><strong>Kegiatan</strong></td>
            <td><strong>Tanggal</strong></td>
            <td><strong>Waktu</strong></td>
        </tr>
        @foreach(Proyek_Informatika.Models.jadwal_semester j in (ViewBag.schedule_skripsi1 as IEnumerable<Proyek_Informatika.Models.jadwal_semester>))
        {
            <tr>
                <td>@j.isi</td>
                <td>@j.tanggal.Date.ToString("ddd, dd MMMM yyyy")</td>
                <td>@j.tanggal.TimeOfDay</td>
                <td><img class="button_delete_jadwal" src="../../../../Content/images/icon_close.png" onclick="deleteJadwal('@j.id', '@j.isi')"/></td>
            </tr>
        }
        </table>
    </div>

    <h3>Jadwal Skripsi 2</h3><!---------------------------------------------------------------------------------------------------------->
    
    <div id="table_semester_schedule2" class="table_semester">
        <table>
        <tr>
            <td><strong>Kegiatan</strong></td>
            <td><strong>Tanggal</strong></td>
            <td><strong>Waktu</strong></td>
        </tr>
        @foreach(Proyek_Informatika.Models.jadwal_semester j in (ViewData["schedule_skripsi2"] as IEnumerable<Proyek_Informatika.Models.jadwal_semester>)){
            <tr>
                <td>@j.isi</td>
                <td>@j.tanggal.Date.ToString("ddd, dd MMMM yyyy") </td>
                <td>@j.tanggal.TimeOfDay</td>
                <td><img class="button_delete_jadwal" src="../../../../Content/images/icon_close.png" onclick="deleteJadwal('@j.id', '@j.isi')"/></td>
            </tr>
        }
        </table>
    </div>
    
    <h3>Tambah kegiatan</h3><!---------------------------------------------------------------------------------------------------------->
    
	<form>
		<table>			
		<tr>
			<td>Mata kuliah</td>
            <td>
				<select id="schedule_skripsi">
				<option value="1">Skripsi 1</option>
				<option value="2">Skripsi 2</option>
				</select>
			</td>
            <td>Tanggal/Waktu</td>
            <td>@(Html.Telerik().DateTimePicker().Name("schedule_date"))</td>
		</tr>
		<tr>
			<td>Nama event</td>
            <td colspan="3"><input type="text" id="schedule_name" size=55/></td>
		</tr>		
        <tr>
            <td colspan="4" align="right"><input type="button" id="button_add" value="Tambah"/></td>
        </tr>
		</table>			
	</form>
	
</div>
