<script type="text/javascript">
    function changeSemester(direction) {
        //confirm user's choice
        if (direction == "prev") {
            var con = confirm("Ubah ke semester sebelumnya?");
        } else if (direction == "next") {
            var con = confirm("Ubah ke semester selanjutnya?");
        }
        //update view
        if (con == true) {
            $.post("Semester/changeSemester", { prevnext: direction }, function (success) {
                if (success == 'True') {
                    $('#content').load('Semester/JadwalSemester');
                    $.post("Home/SetIdSemester", "", function (data) {
                        $(".semester").html(data);
                    });
                } else {
                    alert("Belum semua nilai dihitung.");
                }
            });
        }
    }

    $("#button_add").click(function () {
        var values = {
            event_name: $("#schedule_name").val(),
            skripsi: $("#schedule_skripsi").val(),
            event_date: $("#schedule_date").val()
        };
        $.post("Semester/addSchedule", values, function (success) {
            if (success == 'True') $('#content').load("Semester/JadwalSemester");
        });
    });

    function deleteJadwal(id_jadwal, isi) {
        var con = confirm("Delete '" + isi + "' from database?");
        if (con == true) {
            $.post("Semester/removeSchedule", { jadwal_id: id_jadwal }, function (success) {
                if (success == 'True') $('#content').load("Semester/JadwalSemester");
            });
        }
    }
</script>
<div class="layer">
    <div id="semester_name">
        <h1>
            Periode @ViewData["semester_name"]</h1>
    </div>
    @{ Html.Telerik().TabStrip()
.Name("TabStripSemester")
.Items(tabstrip =>
{
    tabstrip.Add()
        .Text("Skripsi 1")
        .Content(@<text>
        <!---------------------------------------------------------------------------------------------------------->
        <h3>
            Jadwal Skripsi 1</h3>
        <div class="grid_15">
            @if ((ViewBag.schedule_skripsi1 as IEnumerable<Proyek_Informatika.Models.jadwal_semester>).Count() == 0)
            {
                <div class='warning'>Belum ada jadwal kegiatan. </div>
            }
            else
            {
            
                <table class="blue" style="width: 100%;">
                    <tr class="th">
                        <td style="width: 55%;">
                            Kegiatan
                        </td>
                        <td style="width: 15%;">
                            Tanggal
                        </td>
                        <td style="width: 15%;">
                            Waktu
                        </td>
                        <td style="width: 15%;">
                            &nbsp;
                        </td>
                    </tr>
                    @foreach (Proyek_Informatika.Models.jadwal_semester j in (ViewBag.schedule_skripsi1 as IEnumerable<Proyek_Informatika.Models.jadwal_semester>))
                    {
                        <tr>
                            <td>@j.isi
                            </td>
                            <td>@j.tanggal.Date.ToString("ddd, dd MMMM yyyy")
                            </td>
                            <td>@j.tanggal.TimeOfDay
                            </td>
                            <td>
                                <input type="button" value="Delete" class="t-button" onclick="deleteJadwal('@j.id', '@j.isi')"/>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
        <br class="clear" />
        <br />
        </text>);
    tabstrip.Add()
        .Text("Skripsi 2")
        .Content(@<text>
        <!---------------------------------------------------------------------------------------------------------->
        <h3>
            Jadwal Skripsi 2</h3>
        <div class="grid_15">
            @if ((ViewData["schedule_skripsi2"] as IEnumerable<Proyek_Informatika.Models.jadwal_semester>).Count() == 0)
            {
                <div class='warning'>Belum ada jadwal kegiatan. </div>
            }
            else
            {
                <table class="blue" style="width: 100%;">
                    <tr class="th">
                        <td style="width: 55%;">
                            Kegiatan
                        </td>
                        <td style="width: 15%;">
                            Tanggal
                        </td>
                        <td style="width: 15%;">
                            Waktu
                        </td>
                        <td style="width: 15%;">
                            &nbsp;
                        </td>
                    </tr>
                    @foreach (Proyek_Informatika.Models.jadwal_semester j in (ViewData["schedule_skripsi2"] as IEnumerable<Proyek_Informatika.Models.jadwal_semester>))
                    {
                        <tr>
                            <td>@j.isi
                            </td>
                            <td>@j.tanggal.Date.ToString("ddd, dd MMMM yyyy")
                            </td>
                            <td>@j.tanggal.TimeOfDay
                            </td>
                            <td>
                                <input type="button" value="Delete" class="t-button" onclick="deleteJadwal('@j.id', '@j.isi')"/>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
        <br class="clear" />
        <br />
        </text>);
    tabstrip.Add()
        .Text("Tambah Kegiatan")
        .Content(@<text>
        <!---------------------------------------------------------------------------------------------------------->
        <fieldset>
            <legend>Tambah Kegiatan</legend>
            <form>
            <!---------------------------------------->
            <div class="grid_4">
                <div class="editor-label grid_15">
                    <label>
                        Mata Kuliah
                    </label>
                </div>
                <br class="clear" />
                <div class="editor-field grid_15">
                    <select id="schedule_skripsi" class="grid_15">
                        <option value="1">Skripsi 1</option>
                        <option value="2">Skripsi 2</option>
                    </select>
                </div>
            </div>
            <div class="grid_5 omega">
                <div class="editor-label grid_15">
                    <label>
                        Tanggal / Waktu
                    </label>
                </div>
                <br class="clear" />
                <div class="editor-field grid_15">
                    @(Html.Telerik().DateTimePicker().Name("schedule_date").HtmlAttributes(new { @class = "grid_15", style = "margin-left:0;" }))
                </div>
            </div>
            <br class="clear" />
            <!---------------------------------------->
            <div class="editor-label grid_15">
                <label>
                    Kegiatan
                </label>
            </div>
            <br class="clear" />
            <div class="editor-field grid_15">
                <input type="text" id="schedule_name" class="grid_9" />
            </div>
            <br class="clear" />
            <!---------------------------------------->
            <div class="button-block grid_15">
                <input type="button" id="button_add" value="Tambah" class="t-button" />
            </div>
            </form>
        </fieldset>
        <br />
        </text>);
})
.SelectedIndex(0)
.Render();
    }
    <!---------------------------------------->
    <div class="button-block wide">
        <input type="button" value="Semester Sebelumnya" onclick="changeSemester('prev')" class="t-button" />
        <input type="button" value="Semester Selanjutnya" onclick="changeSemester('next')" class="t-button right" />
    </div>
</div>
