

    <script src="../../../Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="../../../Scripts/bimbingan/dosen_kartubimbingan.js" type="text/javascript"></script>
<script type = "text/javascript">
//    $(function () {
//        $("#addBimbingan").click(function () {

//            var value = { id_skripsi:  };

//            $.post("BimbinganDosen/FormBimbingan", value, function (data) {

//                var windowBimbingan = $("#formBimbingans").data("tWindow");
//                $("#container").html(data);
//                windowBimbingan.center().open();
//            });
//        });
    //    });
    $(document).ready(function () {
        updateJumlah();
    });
    function updateJumlah() {
        $.post("BimbinganDosen/JumlahBimbingan?id_skripsi="+@(ViewBag.id), function (data) {
            $("#jumlah").html(data);
        });
    }
    function detilBimbingan(e) {
        var windowZ;
//        if (e.name == "showDetil") {
//            $("#container").html(e.dataItem.deskripsi);
//            windowZ = $("#formBimbingans").data("tWindow");
//            windowZ.center().open();
//        }
        
//        else if (e.name == "editDetil") {
//            
//            var values = { id_bimbingan: e.dataItem.id };
//            $.post("BimbinganDosen/EditorBimbingan", values, function (data) {
//                $("#container").html(data);
//                windowZ = $("#formBimbingans").data("tWindow");
//                windowZ.center().open();
//            });

//        }
        if (e.name == "addBimbingan") {
            var value = {id_skripsi : '@ViewBag.id'};
            $.post("BimbinganDosen/InsertBimbingans",value, function (data) { });
            $(".t-grid .t-refresh").trigger('click');
            updateJumlah();
        }
    }
</script>
<div class="layer">
    <h1>Murid Bimbingan</h1>
        <table>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td>@(ViewBag.nama)</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>:</td>
                <td>@(ViewBag.npm)</td>
            </tr>
            <tr>
                <td>Judul</td>
                <td>:</td>
                <td>@(ViewBag.judul)</td>
            </tr>
            <tr>
                <td>Jumlah Bimbingan</td>
                <td>:</td>
                <td><span id="jumlah">@(ViewBag.jumlahBimbingan)</span></td>
            </tr>
        </table><br/><br />
 @(Html.Telerik().Grid<Proyek_Informatika.Models.bimbingan>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("KartuBimbinganMahasiswa")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.tanggal).Width(75).Title("Tanggal");
            columns.Bound(o => o.isi).Width(150).Title("Bahasan");
            if (ViewBag.status == "aktif")
            {
                columns.Command(com =>
                {

                    com.Edit().ButtonType(GridButtonType.Image);
                    com.Delete().ButtonType(GridButtonType.Image);
                }).Width(50).Title("Aksi");
            }
            
        })
        .ToolBar(
        t => {
            if (ViewBag.status == "aktif")
            {
                t.Custom().Name("addBimbingan").Ajax(true).Text("Tambah Bimbingan").HtmlAttributes(new { id = "toolbarBimbingan" });
            }
            }
            )

               .DataBinding(dat =>
               {
                   dat.Ajax().Select("_SelectKartu", "BimbinganDosen", new { id_skripsi = ViewBag.id });
                   dat.Ajax().Update("EditBimbingan", "BimbinganDosen");
                   dat.Ajax().Delete("DeleteBimbingan", "BimbinganDosen");

               })
        .DetailView(det => det.ClientTemplate(
              "<fieldset>" +
                  "<legend>Detil Bahasan</legend>" +
                      "<div class = 'deskripsi'><#= deskripsi #>" +
                      "</div>" +
              "</fieldset>"
            ))

        .ClientEvents(ev => ev.OnCommand("detilBimbingan"))
        .Editable(c => c.Mode(GridEditMode.PopUp))
        .Sortable()
        .Filterable()
        .Scrollable()
        .Selectable()
        .Groupable()
)


@(  Html.Telerik().Window()
        .Name("formBimbingans")
        .Title("Bimbingan")
        .Content(@<text><div id= "container"></div></text>)
        .Width(800)
        .Height(600)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
</div>