<script src="../../../Scripts/jquery-ui.js" type="text/javascript"></script>
<script src="../../../Scripts/bimbingan/dosen_kartubimbingan.js" type="text/javascript"></script>
<script type="text/javascript">
//    $(function () {
//        $("#addBimbingan").click(function () {

//            var value = { id_skripsi:  };

//            $.post("BimbinganDosen/FormBimbingan", value, function (data) {

//                var windowBimbingan = $("#formBimbingans").data("tWindow");
//                $("#container").html(data);
//                windowBimbingan.center().open();
//            });
//        });
    //    });
    $(document).ready(function () {
        updateJumlah();
    });
    function updateJumlah() {
        $.post("BimbinganDosen/JumlahBimbingan?id_skripsi="+@(ViewBag.id), function (data) {
            $("#jumlah").html(data);
        });
    }
    function detilBimbingan(e) {
        var windowZ;
//        if (e.name == "showDetil") {
//            $("#container").html(e.dataItem.deskripsi);
//            windowZ = $("#formBimbingans").data("tWindow");
//            windowZ.center().open();
//        }
        
//        else if (e.name == "editDetil") {
//            
//            var values = { id_bimbingan: e.dataItem.id };
//            $.post("BimbinganDosen/EditorBimbingan", values, function (data) {
//                $("#container").html(data);
//                windowZ = $("#formBimbingans").data("tWindow");
//                windowZ.center().open();
//            });

//        }
        if (e.name == "addBimbingan") {
            var value = {id_skripsi : '@ViewBag.id'};
            $.post("BimbinganDosen/InsertBimbingans",value, function (data) { });
            $(".t-grid .t-refresh").trigger('click');
            updateJumlah();
        }
    }
    function onEdit(e)
    {
        $("#tanggal").prop('disabled',true);
    }
</script>
<div class="container_15">
    <div class="grid_5">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Nama
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(ViewBag.nama)
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                NPM
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(ViewBag.npm)
        </div>
        <br class="clear" />
    </div>
    <div class="grid_10">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Judul
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(ViewBag.judul)
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Jumlah Bimbingan
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            <span id="jumlah">@(ViewBag.jumlahBimbingan)</span>
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
    <br />
    @(Html.Telerik().Grid<Proyek_Informatika.Models.bimbingan>()
        .HtmlAttributes(new { @class = "grid_15" })
        .Name("KartuBimbinganMahasiswa")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.tanggal).Width(75).Title("Tanggal");
            columns.Bound(o => o.isi).Width(150).Title("Bahasan");
            if (ViewBag.status == "aktif")
            {
                columns.Command(com =>
                {

                    com.Edit().ButtonType(GridButtonType.Image);
                    com.Delete().ButtonType(GridButtonType.Image);
                }).Width(50).Title("");
            }

        })
        .ToolBar(
        t =>
        {
            if (ViewBag.status == "aktif")
            {
                t.Custom().Name("addBimbingan").Ajax(true).Text("Tambah Bimbingan").HtmlAttributes(new { id = "toolbarBimbingan" });
            }
        }
            )

               .DataBinding(dat =>
               {
                   dat.Ajax().Select("_SelectKartu", "BimbinganDosen", new { id_skripsi = ViewBag.id });
                   dat.Ajax().Update("EditBimbingan", "BimbinganDosen");
                   dat.Ajax().Delete("DeleteBimbingan", "BimbinganDosen");

               })
          .DetailView(det => det.ClientTemplate(
                "<fieldset class='detail'>" +
                "<legend>Detail Bahasan</legend>" +
                "<#= deskripsi #>" +               
                "</fieldset>"
        ))              


        .ClientEvents(ev => ev.OnCommand("detilBimbingan").OnEdit("onEdit"))
        .Editable(c => c.Mode(GridEditMode.PopUp))
        .Sortable()
        .Filterable()
          .Pageable(p => p.PageSize(5))      
        .Scrollable(c => c.Enabled(true).Height(250))
        .Selectable()
        .Groupable()
)
    @(  Html.Telerik().Window()
        .Name("formBimbingans")
        .Title("Bimbingan")
        .Content(@<text><div id="container">
        </div></text>)
        .Width(800)
        .Height(600)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
</div>
