@model Proyek_Informatika.Models.EnumBimbingan
<script type="text/javascript">

    function onDataBinding(e) {
        e.data = { periode : @ViewBag.periode, jenis_skripsi : @ViewBag.jenis_skripsi };
    }

    function aksia(e) {
        if (e.name == "viewKartu") {
            var values = { id_skripsi: e.dataItem.id };
            $.post("BimbinganDosen/KartuBimbingan", values, function (data) {
                var detailWindow = $("#contentWindow").data("tWindow");

                $("#contents").html(data);
                detailWindow.center().open();
                
            });
        }
        else if (e.name == "viewLaporan") {
            var values = { id_skripsi: e.dataItem.id };
            $.post("PengumpulanDosen/FileMahasiswa", values, function (data) {
                var detailWindow = $("#contentWindow2").data("tWindow");

                $("#contents2").html(data);
                detailWindow.center().open();
                
            });
        }
        

    }
</script>
    @(Html.Telerik().Grid<Proyek_Informatika.Models.DosenMuridBimbinganContainer>()
        .Name("RekapBimbinganDosen")
        .Columns(columns =>
        {
            columns.Bound(o => o.npm).Width(50).Title("NPM");
            columns.Bound(o => o.namaMahasiswa).Width(100).Title("Nama");
            columns.Bound(o => o.judul).Width(150).Title("Topik");
            columns.Command(com =>
            {
                com.Custom("viewKartu").Ajax(true).Text("Kartu Bimbingan");
                com.Custom("viewLaporan").Ajax(true).Text("Daftar Laporan");
            }).Width(150).Title("");
        })
        .DataBinding(bin => bin.Ajax().Select("_SelectBimbinganMahasiswa", "BimbinganDosen"))
        .ClientEvents(ev => { 
            ev.OnCommand("aksia");
            ev.OnDataBinding("onDataBinding");
        })
        .Pageable(p => p.PageSize(10))
        .Sortable()
        .Filterable()
        .Scrollable(c => c.Enabled(true).Height(500))
        .Selectable()
        .Groupable())
        
@(Html.Telerik().Window()
    .Name("contentWindow")
    .Title("Kartu Bimbingan")
    .Content(@<text><div id = "contents"></div></text>)
    .Width(800)
    .Height(550)
    .Draggable(true)
    .Modal(true)
    .Visible(false)
)

@(Html.Telerik().Window()
    .Name("contentWindow2")
    .Title("Daftar Laporan")
    .Content(@<text><div id = "contents2"></div></text>)
    .Width(800)
    .Height(550)
    .Draggable(true)
    .Modal(true)
    .Visible(false)
)


