

    <script src="../../../Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="../../../Scripts/bimbingan/dosen_kartubimbingan.js" type="text/javascript"></script>
<script type = "text/javascript">

    function detilBimbingan2(e) {
        alert("kartu bimbingan");
        var windowZ;
        if (e.name == "showDetilBimbingan") {
            $("#container").html(e.dataItem.deskripsi);
            windowZ = $("#formBimbingans").data("tWindow");
            windowZ.center().open();
        }


        }
    
</script>
<div class="layer">
    <h1>Murid Bimbingan</h1>
        <table>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td>@(ViewBag.nama)</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>:</td>
                <td>@(ViewBag.npm)</td>
            </tr>
            <tr>
                <td>Judul</td>
                <td>:</td>
                <td>@(ViewBag.judul)</td>
            </tr>
            <tr>
                <td>Jumlah Bimbingan</td>
                <td>:</td>
                <td>@(ViewBag.jumlahBimbingan)</td>
            </tr>
            <tr>
                <td colspan ="3"><input type = "button"  id="addBimbingan" value= "Tambahkan" class="t-button t-state-default"/></td>
            </tr>
        </table><br/><br />
 @(Html.Telerik().Grid<Proyek_Informatika.Models.bimbingan>()
        .HtmlAttributes(new { style = "width:100%" })
        .Name("KartuBimbinganMahasiswaKoordinator")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.tanggal).Width(75).Title("Tanggal");
            columns.Bound(o => o.isi).Width(150).Title("Bahasan");
            columns.Command(com =>
            {
                com.Custom("showDetilBimbingan").Text("Tampilkan").Ajax(true);
            }).Width(50).Title("Aksi");
        })
               .DataBinding(dat => 
               {
                   dat.Ajax().Select("_SelectKartu", "BimbinganDosen", new {id_skripsi = ViewBag.id});

               })
        .ClientEvents(ev => ev.OnCommand("detilBimbingan2"))
        .Editable(c=>c.Mode(GridEditMode.InForm))
        .Sortable()
        .Filterable()
        .Scrollable()
        .Selectable()
        .Groupable()
)


@(  Html.Telerik().Window()
        .Name("formBimbingans")
        .Title("Bimbingan")
        .Content(@<text><div id= "container"></div></text>)
        .Width(800)
        .Height(600)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)
</div>