@model Proyek_Informatika.Models.MahasiswaView
@{
    ViewBag.Title = "Mahasiswa";
}

    @Html.ValidationSummary(true, "Registrasi mahasiswa tidak berhasil. Tolong perbaiki kesalahan dan coba lagi.")
    @using (Html.BeginForm())
    {
        <br />
        <div>
            <fieldset>
                <legend>Mahasiswa</legend>
                <div class="editor-label">
                    @Html.LabelFor(m => m.NPM)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.NPM, new { style = "width:100%;" })
                    <br />@Html.ValidationMessageFor(m => m.NPM)<br />
                </div>
                <div class="editor-label">
                    @Html.LabelFor(m => m.judul)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.judul, new { style = "width:100%;" })
                    <br />@Html.ValidationMessageFor(m => m.judul)<br />
                </div>              
                    <br /><input type="submit" value="Register" class="t-button t-state-default"/>
                
            </fieldset>
        </div>
    }


