@model Proyek_Informatika.Models.MahasiswaContainer
@{
    ViewBag.Title = "Topik";
}
<script type="text/javascript">
    $("#save").click(function () {
        var values = {
            NPM: $("#NPM").val(),
            topik: $("#topik").val(),
            idSkripsi: $("#idSkripsi").val()
        };
        $.post("PendaftaranDosen/_UpdateMahasiswa", values, function (data) {
            var windowZ = $("#mahasiswaUpdate").data("tWindow");
            windowZ.center().close();
            alert(data);
        });
        $("#Mahasiswa .t-refresh").trigger('click');
        //$('#content').load('PendaftaranDosen/RegistrasiMahasiswa');
    })
</script>
@using (Html.BeginForm())
{
        
    <div class="container_15">
        @Html.HiddenFor(m => m.idSkripsi)
        <div class="editor-label grid_15">
            @Html.LabelFor(m => m.NPM)
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @Html.TextBoxFor(m => m.NPM, new { @class = "grid_15" })
            @Html.ValidationMessageFor(m => m.NPM)
        </div>
        <br class="clear" />
        <div class="editor-label grid_15">
            @Html.LabelFor(m => m.topik)
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @Html.TextBoxFor(m => m.topik, new { @class = "grid_15" })
            @Html.ValidationMessageFor(m => m.topik)
        </div>
        <br class="clear" />
        <div class="button-block grid_15">
            <input type="button" id="save" value="Save" class="t-button t-state-default" /></div>
    </div>
}
