<script>
    $(document).ready(function () {
        getBobot(1);
        getBobot(2);
        getBobot(3);

        hitungPersentase("pembimbing");
        hitungPersentase("penguji");
        
        
    });

    function OnCompletePembimbing(e) {
        if (e.name == "update") {
            $("#KategoriPembimbing .t-refresh").trigger('click');
        }
        hitungPersentase("pembimbing");
    }

    function OnCompletePenguji(e) {
        if (e.name == "update") {
            $("#KategoriPenguji .t-refresh").trigger('click');
        }
         hitungPersentase("penguji");
    }

    function getBobot(pemberiNilai) {
        var tipe;
        if (pemberiNilai == 1) {
            tipe = "pembimbing";
        } else if (pemberiNilai == 2) {
            tipe = "penguji1";
        } else if (pemberiNilai == 3) {
            tipe = "penguji2";
        }
        $.post("SidangKoordinator/GetBobot", { tipe: tipe, jenis_skripsi_id: 2 }, function (data) {
            $("#textBobot" + pemberiNilai).val(data);
            $("#labelBobot" + pemberiNilai).html(data);
            $("#labelBobot" + pemberiNilai).show();
            $("#imgBobot" + pemberiNilai).hide();
            hitungTotal();
        });
    }
    function hitungPersentase(pemberiNilai) {
        $.post("SidangKoordinator/HitungPersentase", { pemberiNilai: pemberiNilai, skripsi: 2 }, function (data) {
//            if (data > 100) {
//                alert("Persentase Bobot tidak boleh melebihi 100 %");
//            }
            if (pemberiNilai == "pembimbing") {
                $("#totalBobotPembimbing").html(data + " %");
            } else if (pemberiNilai == "penguji") {
                $("#totalBobotPenguji").html(data + " %");
            }
        });
    }

    function turnEditing(pemberiNilai) {
        if ($("#save" + pemberiNilai).val() == "Edit") {
            $("#textBobot" + pemberiNilai).show();
            $("#labelBobot" + pemberiNilai).hide();
            $("#save" + pemberiNilai).val("Save");
        } else if ($("#save" + pemberiNilai).val() == "Save") {
            $("#textBobot" + pemberiNilai).hide();
            $("#labelBobot" + pemberiNilai).show();
            $("#save" + pemberiNilai).val("Edit");
            var tipe;
            if (pemberiNilai == 1) {
                tipe = "pembimbing";
            } else if (pemberiNilai == 2) {
                tipe = "penguji1";
            } else if (pemberiNilai == 3) {
                tipe = "penguji2";
            }
            var values = {
                tipe: "general",
                kategori: tipe,
                bobot: $("#textBobot" + pemberiNilai).val(),
                jenis_skripsi_id: 2
            };
            $.post("SidangKoordinator/SimpanBobotGeneral", values, function (data) {
                if (data == "True") {
                    $("#labelBobot" + pemberiNilai).html($("#textBobot" + pemberiNilai).val());
                } else {
                    alert("Komposisi Nilai tidak boleh melebihi 100 %");
                    $("#textBobot" + pemberiNilai).val($("#labelBobot" + pemberiNilai).html());
                }
                hitungTotal();
            });
            
        }
    }

    function hitungTotal() {
        var result = parseInt($("#textBobot1").val()) + parseInt($("#textBobot2").val()) + parseInt($("#textBobot3").val());
        if (!isNaN(result)) {
            $("#totalBobot").html(result);
        }
//        if (result > 100) {
//            alert("Komposisi Nilai tidak boleh melebihi 100 %");
//        }
    }
</script>
<h2>
    Komposisi Nilai</h2>
<div class="container_15">
    <table class="blue" style="width: 50%;">
        <tr class="th">
            <td style="width: 40%;">
                Pemberi Nilai
            </td>
            <td style="width: 30%;">
                Bobot (%)
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Pembimbing</label>
            </td>
            <td class="txtcenter">
                <span id="labelBobot1" style="display:none;"></span>
                <input type="text" id="textBobot1" style="display: none;" class="grid_14"/>
                <img src="@Url.Content("~/Content/images/loading.gif")" id="imgBobot1" alt="load" />
            </td>
            <td class="txtcenter">
                <input type="button" id="save1" value="Edit" onclick="turnEditing(1)" style="width: 70px;" class="t-button"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Penguji 1</label>
            </td>
            <td class="txtcenter">
                <span id="labelBobot2" style="display:none;"></span>
                <input type="text" id="textBobot2" style="display: none;" class="grid_14"/>
                <img src="@Url.Content("~/Content/images/loading.gif")" id="imgBobot2" alt="load" />
            </td>
            <td class="txtcenter">
                <input type="button" id="save2" value="Edit" onclick="turnEditing(2)" style="width: 70px;" class="t-button"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Penguji 2</label>
            </td>
            <td class="txtcenter">
                <span id="labelBobot3" style="display:none;"></span>
                <input type="text" id="textBobot3" style="display: none;" class="grid_14"/>
                <img src="@Url.Content("~/Content/images/loading.gif")" id="imgBobot3" alt="load" />
            </td>
            <td class="txtcenter">
                <input type="button" id="save3" value="Edit" onclick="turnEditing(3)" style="width: 70px;" class="t-button"/>
            </td>
        </tr>
        <tr class="tf">
            <td>
                Total
            </td>
            <td id="totalBobot">
                <img src="@Url.Content("~/Content/images/loading.gif")" id="imgBobot" alt="load" />
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
<h2>
    Kriteria Penilaian</h2>
<div id="editBobot" style="overflow: hidden">
    <div class="half">
        <div class="editor-label grid_15">
            <b>Pembimbing</b><br class="clear" />
            <br />
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(Html.Telerik().Grid<Proyek_Informatika.Models.kategori_nilai>()
                    //.HtmlAttributes(new { style = "width:50%;" })
                .Name("KategoriPembimbing")
        .DataKeys(keys =>
        {
            keys.Add(p => p.id);
        })
        .ClientEvents(
            events => events
                .OnComplete("OnCompletePembimbing")
        )
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" }))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("_SelectBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 })
                .Insert("_InsertBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 })
                .Update("_SaveBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 })
                .Delete("_DeleteBobot", "SidangKoordinator", new { tipe = "pembimbing", jenisSkripsi = 2 });
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.urutan).Title("Urutan").Width(50);
            columns.Bound(o => o.kategori).Title("Kategori").Width(100);
            columns.Bound(o => o.bobot).Title("Bobot (%)").Width(60);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.Image);
                commands.Delete().ButtonType(GridButtonType.Image);
            }).Width(60).Title("");
        })
                .Pageable(p => p.PageSize(10))
                .Scrollable(c => c.Enabled(true).Height(300))
        .Sortable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
    )</div>
        <br class="clear" />
        <br />
        <div class="editor-label grid_15">
            <label class="left">
                Persentase Bobot &nbsp;</label>
            <span id="totalBobotPembimbing"></span>
        </div>
        <br class="clear" />
    </div>
    <div class="half">
        <div class="editor-label grid_15">
            <b>Penguji</b><br class="clear" />
            <br />
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(Html.Telerik().Grid<Proyek_Informatika.Models.kategori_nilai>()
                    //.HtmlAttributes(new { style = "width:450px" })
            .Name("KategoriPenguji")
            .DataKeys(keys =>
            {
                keys.Add(p => p.id);
            })
            .ClientEvents(
                events => events
                    .OnComplete("OnCompletePenguji")
            )
            .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.Text).ImageHtmlAttributes(new { style = "margin-left:0" }))
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax()
                    .Select("_SelectBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 })
                    .Insert("_InsertBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 })
                    .Update("_SaveBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 })
                    .Delete("_DeleteBobot", "SidangKoordinator", new { tipe = "penguji", jenisSkripsi = 2 });
            })
            .Columns(columns =>
            {
                columns.Bound(o => o.urutan).Title("Urutan").Width(50);
                columns.Bound(o => o.kategori).Title("Kategori").Width(100);
                columns.Bound(o => o.bobot).Title("Bobot (%)").Width(60);
                columns.Command(commands =>
                {
                    commands.Edit().ButtonType(GridButtonType.Image);
                    commands.Delete().ButtonType(GridButtonType.Image);
                }).Width(60).Title("");
            })
                .Pageable(p => p.PageSize(10))
                .Scrollable(c => c.Enabled(true).Height(300))
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.InLine))
        )
        </div>
        <br class="clear" />
        <br />
        <div class="editor-label grid_15">
            <label class="left">
                Persentase Bobot &nbsp;</label>
            <span id="totalBobotPenguji"></span>
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
    <br />
</div>
