@using Proyek_Informatika.Models
<script type="text/javascript">
    function OnComplete(e) {
        if (e.name == "unduhFile") {
            window.open("Pengumpulan/GetDownload?id_laporan=" + e.dataItem.id, "_blank");
        }
        else if (e.name == "lihatFile") {
            var values = { id_laporan: e.dataItem.id };
            var id = e.dataItem.id;
            loadIframe("pdfContainer", "Pengumpulan/PDFViewer?id_laporan=" + id);
            var windowZ = $("#viewLaporan").data("tWindow");
            windowZ.center().open();
        }
        else if (e.name == "deskripsi") {
            var values = { id_laporan: e.dataItem.deskripsi };
            alert(e.dataItem.deskripsi);
        }
    }
    function loadIframe(iframeName, url) {
        var $iframe = $('#' + iframeName);
        if ($iframe.length) {
            $iframe.attr('src', url);
            return false;
        }
        return true;
    }
</script>
<div class="container_15">
    <div class="grid_5">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Nama
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(ViewBag.nama)
        </div>
        <br class="clear" />
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                NPM
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(ViewBag.npm)
        </div>
        <br class="clear" />
    </div>
    <div class="grid_10">
        <!---------------------------------------->
        <div class="editor-label grid_15">
            <label>
                Judul
            </label>
        </div>
        <br class="clear" />
        <div class="editor-field grid_15">
            @(ViewBag.judul)
        </div>
        <br class="clear" />
    </div>
    <br class="clear" />
    <br />
    @(Html.Telerik().Grid<laporan>().HtmlAttributes(new { style = "width:100%" }).Name("TableFileMahasiswa")
.Columns(
    col =>
    {
        col.Bound(o => o.jenis).Title("Nama File").Width(150);
        col.Bound(o => o.tanggal_pengumpulan).Title("Tanggal Pengumpulan").Width(100);
        col.Command(com =>
        {
            com.Custom("unduhFile").Text("Download").Ajax(true);
            com.Custom("lihatFile").Text("View").Ajax(true);
            //com.Custom("deskripsi").Text("Deskripsi").Ajax(true);
        })

        .Title("")
        .Width(100);
    }
)

        .DetailView(det => det.ClientTemplate(
                "<fieldset class='detail'>" +
                "<legend>Detail Bahasan</legend>" +
                "<#= deskripsi #>" +               
                "</fieldset>"
        ))

            .ClientEvents(events => events.OnCommand("OnComplete"))
.DataBinding(data => data.Ajax().Select("SelectPengumpulan", "PengumpulanDosen", new { id_skripsi = ViewBag.id }))

.Sortable()
.Filterable()
.Pageable(p => p.PageSize(5))      
.Scrollable(c => c.Enabled(true).Height(250))
.Selectable()
.Groupable()
)
    @(Html.Telerik().Window()
                .Name("viewLaporan")
                .Visible(false)
                .Title("File")
                .Modal(true)
                .Width(820)
                .Height(620)
                .Scrollable(false)
                .Content(@<text><iframe src="" id="pdfContainer" width="800" height="600"></iframe></text>))
</div>
